<mat-toolbar class="mat-elevation-z8">
<!--  <img src="assets/bip.png" alt="Logo">-->
  <button mat-icon-button *ngIf="mode === 'over'" (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  Sidenav
</mat-toolbar>
<mat-sidenav-container *ngIf="mode === 'side'">
  <mat-sidenav mode="side" opened>
    <h4 class="name">Kontrast</h4>
    <mat-divider></mat-divider>

    // TODO
    <h4 class="name">Menu</h4>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Artykuły</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>search</mat-icon>
      <span>Wyszukiwanie</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Pomoc</span>
    </button>


    <h4 class="name">Kontakt</h4>
    <mat-divider></mat-divider>
    <p>Kontakt</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <app-article-view></app-article-view>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
